:root {
    --color-neutral-dark: #333;
    --color-neutral-medium: #999;
    --color-neutral-light: #eee;

    --color-main-light: #fbfbfb;
    --color-main-medium: #8d39b0;
    --color-main-dark: #44105a;

    --color-confirm-light: #b8ffb8;
    --color-confirm-medium: #37ec37;
    --color-confirm-dark: #096609;
}

body {
    background-color:var(--color-main-light);
    padding-bottom:10em;
    font-family: 'Maven Pro', sans-serif;
}


[class*='col-']>.card {
    height:100%;
    margin:0;
}

.hero {
    margin: 0;
}
.hero h1 {
    font-size: 7vmin;
    color: var(--color-neutral-light);
}




.list-description{
    text-align: center;
    padding:1.5em;
}


/* FIGURE 

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: white;
  color: #D78F9C;
  cursor: pointer;
  padding: 10px;
  border-radius: 30px;
}

#myBtn:hover {
  background-color:#4C9851;
  color:white;
}*/
.product-figure {
    margin:0;
    height:100%;
}
.product-figure img {
    width:100%;
    object-fit:cover;
    height:30vh;
    vertical-align: text-bottom;

}
.product-figure figcaption {
    padding:1em;
    background-color:white;
}

    .product-figure.soft {
        border-radius:1em;
        overflow:hidden;
        box-shadow:0 2px 5px rgba(0,0,0,0.1);
    }

    .product-figure.overlay {
        position:relative;
        overflow:hidden;
        border-radius:1em;
    }
    .product-figure.overlay figcaption {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color:rgba(0,0,0,0.5);
        transition:all 0.3s;
        opacity:0;
    }
    .product-figure.overlay:hover figcaption {
        opacity:1;
    }
    .product-figure.overlay img {
        transition:all 0.5s;
        transform:scale(1,1);
    }
    .product-figure.overlay:hover img {
        transform:scale(1.4,1.4);
    }

    .product-description {
        font-weight:normal;
        text-decoration:none;
        
    }

.product-main img {
    width:100%;
    height:40vh;
    object-fit:cover;
}
.product-thumbs img {
    height:75px;
    width:100px;
    object-fit:cover;
}


ul {
    list-style-type: none;
}


.push-down.list-search {
    margin-bottom: 1em;
}


/*$Header*/

@media (max-width:600px) {
    .navbar .display-flex {
    }
}
body .wrap{
    margin:10px auto 0;
}

    /*Shopping Cart*/

.cart-value a{
    background-image:url(../img/store/shoppingbag.png);
    display:inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

.cart-value{
    position:relative;
}
/*.badge{
    position:absolute;
    top:-0.5em;
    right:-0.5em;
    font-size:0.8em;
    background-color:#72AE76;
    color:#fff;
    border-radius: 1em;
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2em;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s;
    font-family: arial,sans-serif;

}

.badge:empty{
  width:0;
  height:0;

   .header .logo{
      float: none;
          float: left;
 }

     .flex-stretch{
        text-align: center;
    }
}


li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #4C9851;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

*/

.navbar {
    margin-bottom:1em;
    background-color: transparent;
}

.header{
    margin-bottom: 50px;
    display:fixed;
    top:0;
    right:0;
    width:100%;
}
.header .logo{
    display:inline-block;
    width: 130px;
    float:left;
}


body .header .menus{
    padding-top: 50px;
    float: right;
    margin-right: 100px;
}
.header .menus a{
    font-size: 18px;
    margin: 0 20px;
    color: #101010;
    font-family:Georgia,"Times New Roman",serif;
}

.header .menus a:hover{
    color: #4C9851;
    border-radius: 5px;
}

.header .menus{
        float: none;
        margin-right: 0px;
        text-align: center;
        padding-top: 0;
        margin-bottom: 50px;
 }

.header .icar{
    float: right;
    width: 30px;
    padding-top: 30px;
}




.h1{
    font-size: 38px;
    color:  #4a9750;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
@media screen and (max-width: 1000px) {

    



    /*
$Header
header{
    display: fixed;
    top: 0;
    right: 0;
    width: 100%;
    font-weight: 700;
    background-color: #000;
}
.navbar_logo{
    display:inline-block;
    width: 120px;
    height: 100%;
    background-image: url('../img/Starry-logo.gif');
    background-position:center 1px;
    background-size:100px;
    background-repeat: no-repeat;
}
.navbar_menu .menu_item{
    display: block;
    padding: 24px;
    color:#fff;
    font-size: 18px;
    line-height: 1em;
}
ul>li{
    padding-top: 32px;
    padding-bottom: 28px;
    padding-left: 28px;
    padding-right: 28px;
}

li>a:hover{
    color: #2FEDF3;
}

li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #2FEDF3;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}



.navbar {
        background-color: var(--color-neutral-dark);
        color: var(--color-neutral-light);
        line-height: var(--header-height);


    }*/
}